<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div>{{donations}}</div>
  </div>
</template>

<script>
/* eslint-disable */
    import UserService from '@/services/userService'
    export default {
        name: 'Donations',
        data () {
            return {
                messagetitle: ' Donations List ',
                donations: [],
                errors: []
            }
        },
        // Fetches Donations when the component is created.
        created () {
            this.loadDonations()
        },
        methods: {
            loadDonations: function () {
                UserService.findAllUser()
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.donations = response.data
                        console.log(this.donations)
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 100pt;
    margin-bottom: 10px;
  }
</style>
