<template>
  <div id="ub" class="userBox">
<!--    <div id="userBox1" class="userBox2">-->
<!--        <p>name:{{this.users[0].name}}</p>-->
<!--      <p>userId:{{this.users[0]._id}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>name:{{this.users[1].name}}</p>-->
<!--      <p>userId:{{this.users[1]._id}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>name:{{this.users[2].name}}</p>-->
<!--      <p>userId:{{this.users[2]._id}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>name:{{this.users[3].name}}</p>-->
<!--      <p>userId:{{this.users[3]._id}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>name:{{this.users[4].name}}</p>-->
<!--      <p>userId:{{this.users[4]._id}}</p>-->
<!--    </div>-->
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue'
import VueForm from 'vueform'
import Vuelidate from 'vuelidate'
import VueSweetalert from 'vue-sweetalert'
import UserService from '@/services/userService'
import { required, minLength, between } from 'vuelidate/lib/validators'

var users;


export default {
    data () {
        return {
          users:[]
        }
    },
    // Fetches Donations when the component is created.
    created () {
        this.loadDonations()
    },
    methods: {
        loadDonations: function () {
            UserService.findAllUser()
                .then(response => {
                    // JSON responses are automatically parsed.
                    this.users = response.data
                    console.log(this.users)
                    var box=document.getElementById("ub");
                    for(let i=0;i<this.users.length;i++){
                        var blogBox = document.createElement('blogBox');
                        blogBox.innerHTML=`<div class="userBox2" style="  width:100%;height: 150px;border-bottom: 1px solid #eee;"><p>name:${this.users[i].name}</p><p>userId:${this.users[i]._id}</p></div>`
                        box.appendChild(blogBox);
                    }


                })
                .catch(error => {
                    this.errors.push(error)
                    console.log(error)
                })
        }
    }
}
</script>

<style scoped>
.userBox{
  width:100%;
  height: 1000px;
  /*background: red;*/
}
.userBox2{
  width:100%;
  height: 150px;
  border-bottom: 1px solid #eee;
}

</style>
