<template>
  <div id="ub" class="userBox">
<!--    <div id="blogBox1" class="userBox2">-->
<!--      <p>title:{{this.users[0].title}}</p>-->
<!--      <p>content:{{this.users[0].content}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>title:{{this.users[1].title}}</p>-->
<!--      <p>content:{{this.users[1].content}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>title:{{this.users[2].title}}</p>-->
<!--      <p>content:{{this.users[2].content}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>title:{{this.users[3].title}}</p>-->
<!--      <p>content:{{this.users[3].content}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>title:{{this.users[4].title}}</p>-->
<!--      <p>content:{{this.users[4].content}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>title:{{this.users[5].title}}</p>-->
<!--      <p>content:{{this.users[5].content}}</p>-->
<!--    </div>-->
<!--    <div class="userBox2">-->
<!--      <p>title:{{this.users[6].title}}</p>-->
<!--      <p>content:{{this.users[6].content}}</p>-->
<!--    </div>-->

  </div>
</template>

<script>
/* eslint-disable */
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import BlogService from '@/services/blogService'
    import { required, minLength, between } from 'vuelidate/lib/validators'

    var users;


    export default {
        data () {
            return {
                users:[]
            }
        },
        // Fetches Donations when the component is created.
        created () {
            this.loadDonations()
        },
        methods: {
            loadDonations: function () {
                BlogService.findAll()
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.users = response.data
                        console.log(this.users)
                        var box=document.getElementById("ub");
                        for(let i=0;i<this.users.length;i++){
                            var blogBox = document.createElement('blogBox');
                            blogBox.innerHTML=`<div class="userBox2" style="  width:100%;height: 150px;border-bottom: 1px solid #eee;"><p>title:${this.users[i].title}</p><p>content:${this.users[i].content}</p></div>`
                            box.appendChild(blogBox);
                        }
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>
  .userBox{
    width:100%;
    height: 1000px;
    /*background: red;*/
  }
  .userBox2{
    width:100%;
    height: 150px;
    border-bottom: 1px solid #eee;
  }

</style>
